/*! CSS */
body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

a.username {
    color: #57BC90;
}
.asidehome {
    width: 100%;
}

.contentrechts {
    margin-left: 32%;
}

.contentlinks {
    height: 100%;
}

article footer p {
    margin-bottom: Opx;
}
article ul li a {
    color: white;
    background-color: #015249;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

article ul li a:hover{
    color: white;
    background-color: #57BC90;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}


article ul li a:visited {
    color: white;
    background-color: #015249;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;

}
article ul li a:visited:hover {
    color: white;
    background-color: #57BC90;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

aside ul li a {
    color: #015249;
    text-decoration: none;
    padding: 10px;
    padding-left: 0px;
    margin-left: 0px;
}

aside ul li a:hover{
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    padding-left: 0px;
    margin-left: 0px;
}


aside ul li a:visited {
    color: #015249;
    text-decoration: none;
    padding: 10px;
    padding-left: 0px;
    margin-left: 0px;
}
aside ul li a:visited:hover {
    color: #77C9D4;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    padding-left: 0px;
    margin-left: 0px;
}

.menu {
    list-style-type: none;
}

.header img {
    float: left;
    background: white;
    margin-top: 18px;
}

.header h1 {
    position: relative;
    top: 40px;
    left: 10px;
    color: #77C9D4;
}

.headerimg {
    background-color: white;
    background-image: url(../img/pattern1.png);
    height: 250px;
    text-align: center;
}

.headerimg img {
    height: 150px;
    margin-top: 20px;
}

.titelpagina {
    font-family: "Roboto Condensed";
    font-weight: 100;
    color: white;
    float: right;

    background-color: #015249;
    border-radius: 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 0px;
    padding-left: 42%;
    padding-right: 2%;
    margin-bottom: 20px;
    text-align: right;
}


.articlebackground {
    background-color: white;
    border: solid #F7F7F7 5px;
    border-top-right-radius: 55px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px #AAAAAA;

}

article {
    margin-bottom: 30px;
}

article p {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    margin-left: 16px;
    margin-right: 16px;
}

article .comment-form {
    margin: 15px;
}

article h2 {
     color: #77C9D4;
     font-family: "Roboto Condensed";
     font-weight: lighter;
 }

article h2 a {
    color: #77C9D4;
    font-family: "Roboto Condensed";
    font-weight: lighter;
    margin-left: 15px;
    text-decoration: none;
}

article h2 a:hover{
    color: #015249;
    font-family: "Roboto Condensed";
    font-weight: lighter;
    -webkit-transition: 200ms;
    margin-left: 15px;
    text-decoration: none;

}
article img {
    margin: 15px;

}
article header h1 {
    font-family: "Roboto Condensed";
    font-weight: light;
    color: #015249;
    border-bottom: 1px white;
    background-color: #F7F7F7;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 0px;

    margin-top: -8px;
    margin-left: -5px;

}

.afbeelding img {
    width: 40%;
    height: auto;
    text-align: center;
}
article {
    color: #828282;
}


article footer {
    background-color: #F7F7F7;
    padding-bottom: 1px;
}

article footer p {
    color: #77C9D4;
}

#navigation h2 {
    border-bottom: white solid;
}

.profile {
    width: 100%;
    clear: none;
}

.node-form {
    width: 79%;
    clear: none;
}

.comment-form {
    float: right;
    clear: none;
}

nav h1 {
    position: absolute;
}

#main-menu {
    width: 70%;
    float: right;
}

.menu-item {
    float: right;
    padding: 10px;
    padding-top: 10px;
}

.menu-item-secondary:first-child {
    margin-top: 10px;
}

.menu-item-secondary {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
}

.menu-item-primary a {
    text-decoration: none;
    color: #015249;
}

.menu-item-primary a:hover {
    text-decoration: none;
    color: #77C9D4;
    -webkit-transition: 200ms;
}

.menu-toggle {
    float: right;
}

ul.menu li {
    margin: 0px 91px 0 -2.5em;
}

ul.menu {
    width: 100%;
}


.groen {
    color: #015249;
}

.view-content {
    color: #015249;
}

.views-field a {
     text-decoration: none;
     color: #015249;
}
.views-field a:hover {
    text-decoration: none;
    color: #77C9D4;
    -webkit-transition: 200ms;
}

.views-table td {
    color: #015249;
    padding: 20px 50px;
}

.views-table th {
    color: #015249;
    padding: 20px 50px;
}

.item-list ul li a {
    text-decoration: none;
    color: #015249;
}

.item-list ul li a:hover {
    text-decoration: none;
    color: #77C9D4;
    -webkit-transition: 200ms;
}

.read-more {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    background-color: #015249;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.read-more:hover {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    background-color: #57BC90;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    -webkit-transition: 200ms;
}

.profile {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

.step-1 {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

#dienst-node-form {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

.contact-form {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

.box {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

.transaction-operations li a {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    background-color: #015249;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.transaction-operations li a:hover {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    background-color: #57BC90;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    -webkit-transition: 200ms;
}

#edit-cancel {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    background-color: #015249;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

#edit-cancel:hover {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    background-color: #57BC90;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    -webkit-transition: 200ms;
}

.transaction {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

#user-logging {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

#user-register-form {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

.sharethis-wrapper {
    text-align: right;
}

footer ul li a {
    text-decoration: none;
    color: white;
}
footer ul li a:hover {
    text-decoration: underline;
    color: white;
}

footer ul li a:visited {
    text-decoration: none;
    color: white;
}

.box p a {
    text-decoration: none;
    color: #015249;
    font-weight: bolder;
}
.box p a:hover {
    text-decoration: none;
    color: #77C9D4;
    font-weight: bolder;
    -webkit-transition: 200ms;
}

#user-login {
    background-color: white;
    color: #015249;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

aside p {
    color: #015249;
}

label {
    color: #015249;
}

.form-submit {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    background-color: #015249;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.form-submit:hover {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    background-color: #57BC90;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    -webkit-transition: 200ms;
}
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/HTML5 Template/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Lato;
    color: #A5A5AF;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-top: 5px solid #015249;

}

.main aside {
    border-top: 20px solid #015249;
    border-bottom: 20px solid #015249;
    padding-top: 20px;
}

.header-container,
.main aside {
    background: white;
}

.footer-container {
    background: #015249;
    clear: both;
    z-index: 10;
    bottom: 0;
    width: 100%;
    float: inherit;
}

.title {
    color: #77C9D4;
}

/* ==============
    MOBILE: Menu
   ============== */



/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
    padding-top: 20px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;

        border-radius: 50px;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */



    .main aside {
        float: left;
        width: 20%;
        height: 400px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}